<div class="container">
  <h1>My Projects</h1>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img src="assets/project1.jpg" class="card-img-top" alt="Project 1">
        <div class="card-body">
          <h5 class="card-title">Project 1</h5>
          <p class="card-text">Description of Project 1.</p>
          <a href="https://github.com/user/project1" class="btn btn-primary">View on GitHub</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="assets/project2.jpg" class="card-img-top" alt="Project 2">
        <div class="card-body">
          <h5 class="card-title">Project 2</h5>
          <p class="card-text">Description of Project 2.</p>
          <a href="https://github.com/user/project2" class="btn btn-primary">View on GitHub</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="assets/project3.jpg" class="card-img-top" alt="Project 3">
        <div class="card-body">
          <h5 class="card-title">Project 3</h5>
          <p class="card-text">Description of Project 3.</p>
          <a href="https://github.com/user/project3" class="btn btn-primary">View on GitHub</a>
        </div>
      </div>
    </div>
  </div>
</div>